/src/com/ata/Element.java
/src/com/ata/ElementsX.java
/src/com/ata/ElementTest.java
/src/com/ata/ExpectedElement.java
/src/com/ata/PeriodicTable.java
/src/com/ata/PeriodicTableTest.java
/src/resources/Symbols.enum
/src/Main.java
/PeriodicTable.iml
/README.html
/README_files/
/src/resources/.~lock.Elements.enum.csv#
/.idea/
/out/
